// Шрифты
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext');
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~ekko-lightbox/dist/ekko-lightbox.css";
@import "~summernote/dist/summernote-bs4.css";

// Переменные
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Глобальные
@media screen and (min-width: 768px) {
  body {
    // padding-top: 3.81rem !important;
  }
  .sticky-top {
    // top: 3.46rem !important; // 46
  }
}

.place-card-button {
  border-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-color: #dfdfdf;
}

.place-card-button-last {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-color: #dfdfdf;
}

.sticky-offset {
  top: 3.46rem;
}

.vh-twitter {
  height: calc(100vh - 3.46rem) !important;
}

@media screen and (min-width: 1300px) {
  .navbar-tel {
    position: absolute;
    right: 1rem;
    top: 5px;
  }
}

@media screen and (max-width: 1203px) {
  .navbar-tel {
    display: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

body {
  padding-top: 3.46rem;
  background-color: #f5f5f6;
}
.sticky-top {
  // top: 3.46rem;
}

::selection {
  background: #ceb4ff;
}
::-moz-selection {
  background: #ffb52d;
}

main p {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

main ul,ol {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

// Tabs
.nav-link {
  padding: 0.5rem 0.75rem !important;
}

main p.content {
  white-space: pre-wrap;
}

// Спиннер
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: $primary;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}

// Место размещения
.ekko-lightbox-nav-overlay a {
  color: #fff !important;
}

.single.price-discount {
  font-size: 1rem;
  line-height: 1.2rem;
  vertical-align: middle;

  .price s {
    color: #8c8c8c;
  }

  .price strong {
    font-size: 1.2rem;
  }

  .discount {
    font-weight: 600;
    color: #fff;
    background-color: #ff9133;
    padding: 3px;
    border-radius: 4px;
  }
}

// Галереи места размещения
.gallery.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
    column-gap: 1rem;
  }
  @include media-breakpoint-only(sm) {
    column-count: 3;
    column-gap: 1rem;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
    column-gap: 1rem;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
    column-gap: 1rem;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
    column-gap: 1rem;
  }
}
.gallery img {
  transition: all .25s ease-in-out;
  opacity: 0.9;
}
.gallery img:hover {
  opacity: 1;
}

// Главная страница
.place-container {
  position: relative;
  margin-bottom: 30px;

  img.image-container {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 300px;
    max-width: 100%;
    border-radius: 3px;
  }
  .content-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    z-index: 10;
    color: #FFF;

    .place-name {
      font-size: 24px;
      font-weight: 700;
    }
    .region-type {
      color: rgba(255,255,255,0.8);
      margin-bottom: 10px;
    }
    .price-discount {
      font-size: 16px;
      font-weight: 700;

      s{
        font-weight: 500;
        color: rgba(255,255,255,0.7);
      }
    }
  }
}
.place-container:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.500437675070028) 60%);
  border-radius: 3px;
}

.special-offers .header a:hover {
  text-decoration: none !important;
}

#about {
  font-weight: 300;
}

.cat.card-img-overlay.bg {
  transition: all .25s ease-in-out;
  cursor: pointer;
  background: #1b93f99e;
  color: white;
  // filter: contrast(130%);
  border-radius: 0.25rem;
}
.cat.card-img-overlay:hover {
  background: none;
  .card-title {
    color: #ffffffb5;
  }
}

.card-discount {
  position: absolute;
  background-color: #ff6a00;
  color: white;
  font-weight: 600;
  padding: 5px;
  top: 20px;
  left: -5px;
}
.card-properties {
  float: left;
  color: gray;
}
.card-price {
  position: absolute;
  top: 60px;
  left: -5px;
  background: rgb(88,163,78);
  background: linear-gradient(90deg, rgba(88,163,78,1) 0%, rgba(120,205,109,1) 100%);
  color: white;
  padding: 5px;
}

.card-bottom-wrapper {
  position: absolute;
  bottom: 1rem;
}
.card-bottom-wrapper.card-properties {

}
.card-bottom-wrapper.card-details {
  left: auto;
  right: 0;
}

// Компонент Яндекс Карт
.ymap-class {
  width: 100%;
  height: 400px;
}

// Баннер
#banner {
  opacity: 0.8;
  transition: all .25s ease-in-out;
}
#banner:hover {
  opacity: 1;
}

// Футер
footer {
  border-top: solid 1px #efefef;
  position: relative;
}
.footer {
  font-size: 0.85rem;
  color: #fff;
}
.footer a {
  transition: color .15s ease-in-out;
  color: #dee2e6;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li.heading {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.footer li.item {
  margin-bottom: 12px;
}
.footer li.item:last-child {
  margin-bottom: 0;
}
.footer dd {
  margin-bottom: 0.1rem;
  margin-left: 0;
}

#github {
  font-size: 1.2rem;
}

dl.row.footer {
  margin-bottom: 10px;
}
dl.row.footer.last {
  margin-bottom: 0;
}

// Менеджмент

.column-id {
  width: 1px;
  white-space: nowrap;
}

.column-actions {
  width: 1px;
  white-space: nowrap;
}

.pagination {
  margin-bottom: 0 !important;
}

#sidebar .nav-pills .nav-link {
  border-radius: 0 !important;
}

#sidebar .nav-pills .nav-link.active {
  background: #3490dc;
  background: linear-gradient(90deg, #3490dc 60%, #5fb1f5 100%);
}

// Навигация

.nav-phone-number {
  display: inherit;
  line-height: 1;
}

.nav-phone-text {
  display: block;
  font-size: 70%;
  font-weight: 300;
  line-height: 1;
  padding-top: 5px;
  color: #ffffffcc;
}

// Номерной фонд

.room {
  dt {
    font-size: 1rem !important;
    font-weight: 300 !important;
  }

  dd {
    font-size: 1rem !important;
    font-weight: 300 !important;
  }
}

.room dt {
  font-weight: 400 !important;
}

.bordered-bottom {
  border-bottom: solid 1px #ececed;
}

.bordered-top {
  border-top: solid 1px #ececed;
}

@media screen and (min-width: 768px) {
  .bordered-right {
    border-right: solid 1px #ececed;
  }
}

.iframe
{
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
}
.iframe iframe
{
  width: 100%;
  height: 100%;
}